<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Expense manager</title>
	</head>
	<body>
		<div class="jumbotron">
			<h1>Expense manager</h1>
			<p data-role='description'>This is an Expense manager application.</p>
			<br/>
		</div>
	</body>
</html>